{{> navbar }}
{{> sidebar }}

<div class="wu--site-main">

    <div class="form-container mb-5">
        <form id="uploadForm" action="/posts" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <textarea name="description" onkeyup="textAreaAdjust(this)" class="wu-input-textarea" placeholder="¿Algo que decir?" style="overflow:hidden" required></textarea>
            </div>
            <div class="form-img-container">
                <div id="image" class="hidde"></div>
            </div>
            <div class="flex" style="justify-content: space-between;">
                <div class="form-group">
                    <div id="uploadFileBtn" onclick="getFile();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"/>
                            <circle cx="8.5" cy="8.5" r="1.5"/>
                            <polyline points="21 15 16 10 5 21"/>
                        </svg>    
                    </div>
                    <div style='height: 0px;width: 0px; overflow:hidden;'>
                        <input id="upfile" type="file" name="image" value="upload" onchange="sub(this); show(this);" />   
                    </div>
                </div>
                <button type="submit" id="uploadButton" class="ml-3 wu--btn wu--btn-primary">
                    Publicar
                </button>
            </div>
        </form>
    </div>

    <div class="wu--feed-main">
    {{#if posts}}
        {{#each posts}}
            {{#if filename}}
                <div class="wu--card card-body-1">
                    <div class="wu--card-header">
                        <a href="/{{user.username}}" class="wu--card-user">
                            <div class="wu--card-user-pic">
                                <div class="account-pic" style="background-image:url(./public/img/pic-profile.jpeg);">
                                </div>
                            </div>
                            <div class="wu--card-user-info">
                                <p class="username">{{user.username}}</p>
                                <p class="wu--card-date-p">
                                    10 min ago
                                </p>
                            </div>
                        </a>
                        <div class="wu--card-more">
                            <div class="btn-more">
                                <div class="action-group">
                                    <span class="action-span">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wu--card-body">
                        <a href="/posts/{{_id}}" class="wu--card-text">
                            <p  class="wu--card-text-p">
                                {{description}}
                            </p>
                        </a>
                        <div class="wu--card-picture">
                            <a href="/posts/{{_id}}" class="card-photo" style="background-image: url('{{imgUrl}}')"></a>
                        </div>
                    </div>
                    <div class="wu--card-footer">
                        <button id="btn-like" class="action-group btn" data-id="{{_id}}">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                            </span>
                            <p class="likes-count">
                                {{likes}}
                            </p>
                        </button>
                        <button class="action-group">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                    </path>
                                </svg>
                            </span>
                            <p class="action-counter">
                                0
                            </p>
                        </button>
                        <div class="action-group">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </span>
                            <p class="action-counter">
                                0
                            </p>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="wu--card card-body-2">
                    <div class="wu--card-header">
                        <a href="/{{user.username}}" class="wu--card-user">
                            <div class="wu--card-user-pic">
                                <div class="account-pic" style="background-image:url(./public/img/pic-profile.jpeg);">
                                </div>
                            </div>
                            <div class="wu--card-user-info">
                                <p class="username">{{user.username}}</p>
                                <p class="wu--card-date-p">
                                    10 min ago
                                </p>
                            </div>
                        </a>
                        <div class="wu--card-more">
                            <div class="btn-more">
                                <div class="action-group">
                                    <span class="action-span">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wu--card-body">
                        <a href="/posts/{{_id}}" class="wu--card-text" style="margin-bottom: 0;">
                            <p class="wu--card-text-p">
                                {{description}}
                            </p>
                        </a>
                    </div>
                    <div class="wu--card-footer">
                        <button id="btn-like" class="action-group btn" data-id="{{_id}}">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                            </span>
                            <p class="likes-count">
                                {{likes}}
                            </p>
                        </button>
                        <button class="action-group">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                                    <path
                                        d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                    </path>
                                </svg>
                            </span>
                            <p class="action-counter">
                                0
                            </p>
                        </button>
                        <div class="action-group">
                            <span class="action-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </span>
                            <p class="action-counter">
                                0
                            </p>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{else}}
        <div class="wu--section-empty">
            <p>Parece que no hay nada que mostrar</p>
        </div>
    {{/if}}
    </div>
</div>